<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<div class="registercontainer">
		<form>
			<div class="imgcontainer"><img alt="Avatar" class="avatar" src="img_avatar2.png"></div>
			<div class="container">
				<form #registerForm="ngForm">
					<h3 style="text-align:center">Create an Account</h3>

					<label for="username"><b>Username</b></label>
					<input [(ngModel)]="person.username" name="username" placeholder="Username" required="" type="text">

					<label for="password"><b>Password</b></label>
					<input [(ngModel)]="person.password" name="password" placeholder="Password" required=""
						type="password">

					<label for="firstname"><b>First name</b></label>
					<input [(ngModel)]="person.firstname" name="firstname" placeholder="First Name" required=""
						type="text">

					<label for="lastname"><b>Last name</b></label>
					<input [(ngModel)]="person.lastname" name="lastname" placeholder="Last Name" required=""
						type="text">

					<label for="email"><b>Email</b></label>
					<input [(ngModel)]="person.email" name="email" placeholder="electronic@mail.com" required=""
						type="text">

					<div>
						<button type="submit" (click)="onSubmit()">Register</button>
						<label><input checked="checked" name="remember" type="checkbox"> Remember me</label>
					</div>
					<div class="container" style="background-color:#f1f1f1">
						<button class="cancelbtn" type="button" (click)="onClickBack()">Back</button>
					</div>
				</form>
			</div>
		</form>
	</div>
</body>

</html>