
<app-navmenu></app-navmenu>

<div class= "playList-container">
<div class= "content">
  <div class="media-content">
      <div class="player-container">
        <div class="audio-container">
            <audio controls> </audio>
        </div>

      </div>
      <div class="delete-btn-container">
        <button>Delete Playlist</button>
      </div>
  </div>

  <div class="playlist-content">
      <button class="accordion" (click) = "toggleAccordion()">Add new Playlist</button>
      <div class= 'panel'>
        <div class= "pane">
          <div class="list">

          </div>
          <p (click)="show = !show">{{show ? 'hide' : 'show'}} + Add New Song </p>
        </div>
      </div>
  </div>

</div>

</div>

<app-song *ngIf = 'show'></app-song>


